
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

/* ---- RESET ---- */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,button,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time,menu,select,legend{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:1em;font-weight:400}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html,button,input,select,textarea{font-family:'Open Sans',Apple SD Gothic Neo,Malgun Gothic,Dotum,Helvetica,Helvetica Neue,Arial,Verdana,sans-serif;font-weight:400;-webkit-font-smoothing:antialiased;word-spacing:-1px;-webkit-text-size-adjust:none}
body{margin:0}
a:active,a:hover,a:focus{outline:0}
b,strong{font-weight:bold}
ul,ol{list-style:none}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;*overflow:visible}
button[disabled],input[disabled]{cursor:default}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;*height:13px;*width:13px}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type='search']::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
a,button{-webkit-tap-highlight-color:transparent}
button{border:0 none;background-color:transparent;cursor:pointer}
textarea{overflow:auto;vertical-align:top;resize:none;font-family:'Open Sans',Apple SD Gothic Neo,Malgun Gothic,Dotum,Helvetica,Helvetica Neue,Arial,Verdana,sans-serif}
table{border-collapse:collapse;border-spacing:0}
html,button,input,select,textarea,a{color:#222}
*{-webkit-tap-highlight-color:rgba(0,0,0,0)}
img{vertical-align:middle}
a{cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none}
a:hover{color:#222}
a:hover,a:link,a:visited,a:active{text-decoration:none}
a.select{cursor:default !important;-webkit-transition:none !important;-moz-transition:none !important;-ms-transition:none !important;-o-transition:none !important;transition:none !important}
input{-webkit-appearance:none;border-radius:0;font-family:'Open Sans',Apple SD Gothic Neo,Malgun Gothic,Dotum,Helvetica,Helvetica Neue,Arial,Verdana,sans-serif}
input[type=number]{-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}
fieldset{border:none}

/* ---- LAYOUT ---- */
.blind{display:none;visibility:hidden}
.inactive{display:none !important;visibility:hidden !important}
body{font-family:'Open Sans',Apple SD Gothic Neo,Malgun Gothic,Dotum,Helvetica,Helvetica Neue,Arial,Verdana,sans-serif;font-size:12px;line-height:18px}
#wrap{position:relative;width:100%;height:100vh}
.class-section,.chart-section{display:block;width:800px;margin-right:auto;margin-left:auto;padding-top:30px;padding-bottom:30px}
.class-section h1,.chart-section h1{padding-top:10px;padding-bottom:20px;text-transform:uppercase;color:#303030;font-family:'Open Sans';font-size:20px;font-weight:700;line-height:26px}
.class-section li{display:flex;position:relative;padding-top:10px;padding-bottom:10px;border-top:1px solid #757575;font-size:14px;line-height:20px;justify-content:space-between;flex-wrap:wrap}
.class-section li.head{margin-bottom:2px;padding-top:15px;padding-bottom:15px;border-top:2px solid #303030;border-bottom:1px solid #757575;font-weight:600;}
.class-section li:not(.head)::before{content:'';display:block;position:absolute;top:0;left:60px;width:1px;height:100%;border-right:1px solid #aed2ff;border-left:1px solid #aed2ff}
.class-section li:last-child{border-bottom:2px solid #303030}
.class-section li div{display:inline-block}
.class-section li div i{padding-left:80px;font-style:normal}
.class-section li div.sort{flex:0 0 45%}
.class-section li div.name{flex:0 0 30%}
.class-section li div.id{flex:0 0 25%;align-self:flex-end}
.class-section li:not(.head) div.id a{position:relative;display:inline-block;color:#757575;font-size:12px;line-height:20px;vertical-align:top}
.class-section li:not(.head) div.id a::after{content:'';display:block;position:absolute;bottom:0;left:0;width:100%;height:0;border-bottom:1px solid #757575}
.chart-section:last-child{padding-bottom:60px}
.chart-section ol{display:flex;width:calc(100% + 20px);margin-right:-10px;margin-left:-10px;justify-content:space-between;flex-wrap:wrap}
.chart-section li{width:20%;padding-right:10px;padding-left:10px;padding-bottom:30px;box-sizing:border-box}
.chart-section li:nth-child(5n+1):nth-last-child(-n+5),.chart-section li:nth-child(5n+1):nth-last-child(-n+5) ~ li{padding-bottom:0}
.chart-section li .poster{overflow:hidden;width:100%;height:240px;box-shadow:0 1px 1px rgba(0,0,0,0.15)}
.chart-section li .poster a{display:block;width:100%;height:100%}
.chart-section li .poster img{display:block;width:100%;height:100%;object-fit:cover}
.chart-section li .name{padding-top:10px;color:#757575;font-size:14px;font-weight:600;line-height:16px}