/* ---- RESET ---- */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,button,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time,menu,select,legend{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:1em;font-weight:400}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html,button,input,select,textarea{font-family:'SF Pro Text',Apple SD Gothic Neo,Malgun Gothic,Dotum,Helvetica,Helvetica Neue,Arial,Verdana,sans-serif;font-weight:400;-webkit-font-smoothing:antialiased;word-spacing:-1px;-webkit-text-size-adjust:none}
body{margin:0}
a:active,a:hover,a:focus{outline:0}
b,strong{font-weight:bold}
ul,ol{list-style:none}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;*overflow:visible}
button[disabled],input[disabled]{cursor:default}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;*height:13px;*width:13px}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type='search']::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
a,button{-webkit-tap-highlight-color:transparent}
button{border:0 none;background-color:transparent;cursor:pointer}
textarea{overflow:auto;vertical-align:top;resize:none;font-family:'SF Pro Text',Apple SD Gothic Neo,Malgun Gothic,Dotum,Helvetica,Helvetica Neue,Arial,Verdana,sans-serif}
table{border-collapse:collapse;border-spacing:0}
html,button,input,select,textarea,a{color:#212121}
*{-webkit-tap-highlight-color:rgba(0,0,0,0)}
img{vertical-align:middle}
a{cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none}
a:hover{color:#212121}
a:hover,a:link,a:visited,a:active{text-decoration:none}
a.select{cursor:default !important;-webkit-transition:none !important;-moz-transition:none !important;-ms-transition:none !important;-o-transition:none !important;transition:none !important}
input{-webkit-appearance:none;border-radius:0;font-family:'SF Pro Text',Apple SD Gothic Neo,Malgun Gothic,Dotum,Helvetica,Helvetica Neue,Arial,Verdana,sans-serif}
input[type=number]{-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}
fieldset{border:none}

/* ---- LAYOUT ---- */
body { background:#fff; }
#wrap { width:500px; margin:0 auto; }

.animation { width:500px; height:500px; margin:20px; background-repeat:no-repeat; background-position:0 0; /*border:1px solid red;*/ }
.moon { background-image:url(../img/moon.png); background-size:1500px 1500px; }

.util ul { display:flex; width:500px; height:35px; margin-top:50px; }
.util ul li { flex:1; border-bottom:1px solid #324d5e; }
.util li+li { margin-left:20px; }

.util ul li a { display:block; width:100%; text-align:center; line-height:35px; color:#324d5e; }
.util ul li a:hover { opacity:0.5; }